.divsong{
    float: top;
}

#song {
    background-color: white;
    border:2px solid #dbab4c ;
    width: 200px;
    color: #010101;
    }

   

#header{
    font-size: 40px;
    background-color: #fdd0d2;
    
    font-family: 'Nunito', sans-serif;
}
body{
    background-size:cover;
}

canvas{

    margin-top: 200px;
}
.note{
    padding: 10px;
    font-size: 15px;
    background-color:white ;
    color: cyan;
    border-radius: 20px;
}